<!-- <div class="main">
  <div class="top-header">
    <div>
      <h4 class="subheader">Checkbox <span class="sideheader">Component</span></h4>
    </div>
    <div class="button-sec">
      <button class="backbutton" (click)="backwindow()">Back</button>
      <button class="backbutton" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
    </div>
  </div> 
  <div #checkbox class="new" [ngClass]="checkboxdata.themecolor">

    <form class="checkbox-box width100" *ngIf="checkboxdata.typefields=='Checkbox'" [ngStyle]="{'width':checkboxdata.cardwidth, 'display':checkboxdata.alignverticle, 'border':'1px solid' + checkboxdata.bgcolor}"> 
      <label class="type-checkbox"><span>*</span> {{checkboxdata.title}}</label>
      <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text1">
        <input type="checkbox" id="value1" >
        <label for="value1">{{checkboxdata.text1}}</label>
      </div>
      <div class="form-group" [ngStyle]="{'display':checkboxdata.alignverticle}" *ngIf="checkboxdata.text2">
        <input type="checkbox" id="value2" >
        <label for="value2">{{checkboxdata.text2}}</label>
      </div>
      <div  [ngStyle]="{'display':checkboxdata.alignverticle}"class="form-group" *ngIf="checkboxdata.text3">
        <input type="checkbox" id="value3">
        <label for="value3">{{checkboxdata.text3}}</label>
      </div>
      <div  [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text4">
        <input type="checkbox" id="value4">
        <label for="value4">{{checkboxdata.text4}}</label>
      </div>  
    </form>

    <form *ngIf="checkboxdata.typefields=='Radio'" class="radioclass width100" [ngStyle]="{'width':checkboxdata.cardwidth, 'display':checkboxdata.alignverticle, 'border':'1px solid' + checkboxdata.bgcolor}"> 
      <label class="type-checkbox"><span>*</span> {{checkboxdata.title}}</label>
      <div  [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text1">
        <input name="radio" type="radio" id="value1" >
        <label for="value1"> {{checkboxdata.text1}} <span></span></label>
      </div>
      <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text2">
        <input name="radio" type="radio" id="value2" >
        <label for="value2"> {{checkboxdata.text2}} <span></span></label>
      </div>
      <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text3">
        <input name="radio" type="radio" id="value3">
        <label for="value3">{{checkboxdata.text3}}<span></span></label>
      </div>
      <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text4">
        <input name="radio" type="radio" id="value4">
        <label for="value4">{{checkboxdata.text4}}<span></span></label>
      </div>  
    </form>
  </div>
   
    <ul class="list-inline">
    <li (click)="openhtml()"><button [class]="htmlcontent">HTML</button></li>
    <li (click)="opencss()"><button [class]="csscontent">CSS</button></li>
  </ul>
  <div class="htmlelement" *ngIf="htmlcontent == 'active'">
    <div class="copybutton">
      <button ngxClipboard [cbContent]="getHtmlContent()" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
    </div>
    <pre><code [highlight]="getHtmlContent()">{{getHtmlContent()}}</code></pre>
  </div>
  <div class="htmlelement" *ngIf="csscontent == 'active'">
    <div class="copybutton">
      <button ngxClipboard [cbContent]="CSS" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
    </div>
    <pre><code [highlight]="CSS">{{CSS}}</code></pre>
  </div>

</div>

<div class="modal fade editcard" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modaldialog-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Checkbox</h4>
              <button class="clearbtn"  aria-label="Card Update modal close"  #myModalClose2 data-bs-dismiss="modal">
                <img [src]="closeicon" class="closeicon">  
              </button> 
          </div>
          <app-editcheckbox (onclose)="close()"></app-editcheckbox> 

      </div>
  </div>
</div> -->


<div class="main">
    <div class="top-header">
      <div>
        <h4 class="subheader">Checkbox <span class="sideheader">Component</span></h4>
      </div>
      <div class="button-sec">
        <button class="backbutton" (click)="backwindow()">Back</button>
        <button class="backbutton" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
      </div>
    </div> 
    <div #checkbox class="new" [ngClass]="checkboxdata.themecolor">

        <form class="checkbox-box width100" *ngIf="checkboxdata.typefields=='Checkbox'" [ngStyle]="{'width':checkboxdata.cardwidth, 'display':checkboxdata.alignverticle, 'border':'1px solid' + checkboxdata.bgcolor}"> 
          <label class="type-checkbox"><span>*</span> {{checkboxdata.title}}</label>
          <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text1">
              <label for="value1"><span><input type="checkbox" id="value1"><span class="checkmark" [ngClass]="checkboxdata.themecolor"></span></span>{{checkboxdata.text1}}</label>
          </div>
          <div class="form-group" [ngStyle]="{'display':checkboxdata.alignverticle}" *ngIf="checkboxdata.text2">
            <label for="value2"><span><input type="checkbox" id="value2"><span class="checkmark" [ngClass]="checkboxdata.themecolor"></span></span>{{checkboxdata.text2}}</label>
          </div>
          <div  [ngStyle]="{'display':checkboxdata.alignverticle}"class="form-group" *ngIf="checkboxdata.text3">
            <label for="value3"><span><input type="checkbox" id="value3" ><span class="checkmark" [ngClass]="checkboxdata.themecolor"></span></span>{{checkboxdata.text3}}</label>
          </div>
          <div  [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text4">
            <label for="value4"><span><input type="checkbox" id="value4"><span class="checkmark" [ngClass]="checkboxdata.themecolor"></span></span>{{checkboxdata.text4}}</label>
          </div>  
        </form>

        <form *ngIf="checkboxdata.typefields=='Radio'" class="radioclass" [ngStyle]="{'width':checkboxdata.cardwidth, 'display':checkboxdata.alignverticle, 'border':'1px solid' + checkboxdata.bgcolor}"> 
          <label class="type-checkbox"><span>*</span> {{checkboxdata.title}}</label>
          <div  [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text1">
            <label for="value1"><span><input name="radio" type="radio" id="value1" ><span class="checkradio" [ngClass]="checkboxdata.themecolor"></span></span> {{checkboxdata.text1}} <span></span></label>
          </div>
          <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text2">
            <label for="value2"><span><input name="radio" type="radio" id="value2" ><span class="checkradio" [ngClass]="checkboxdata.themecolor"></span></span> {{checkboxdata.text2}} <span></span></label>
          </div>
          <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text3">
            <label for="value3"><span><input name="radio" type="radio" id="value3" ><span class="checkradio" [ngClass]="checkboxdata.themecolor"></span></span>{{checkboxdata.text3}}<span></span></label>
          </div>
          <div [ngStyle]="{'display':checkboxdata.alignverticle}" class="form-group" *ngIf="checkboxdata.text4">
            <label for="value4"><span><input name="radio" type="radio" id="value4" ><span class="checkradio" [ngClass]="checkboxdata.themecolor"></span></span>{{checkboxdata.text4}}<span></span></label>
          </div>  
        </form>
      </div>
     
      <ul class="list-inline">
      <li (click)="openhtml()"><button [class]="htmlcontent">HTML</button></li>
      <li (click)="opencss()"><button [class]="csscontent">CSS</button></li>
    </ul>
    <div class="htmlelement" *ngIf="htmlcontent == 'active'">
      <div class="copybutton">
        <button ngxClipboard [cbContent]="getHtmlContent()" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
      </div>
      <pre><code [highlight]="getHtmlContent()">{{getHtmlContent()}}</code></pre>
    </div>
    <div class="htmlelement" *ngIf="csscontent == 'active'">
      <div class="copybutton">
        <button ngxClipboard [cbContent]="CSS" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
      </div>
      <pre><code [highlight]="CSS">{{CSS}}</code></pre>
    </div>

  </div>
  
  <div class="modal fade editcard" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modaldialog-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Checkbox</h4>
                <button class="clearbtn"  aria-label="Card Update modal close"  #myModalClose2 data-bs-dismiss="modal">
                  <img [src]="closeicon" class="closeicon">  
                </button> 
            </div>
            <app-editcheckbox (onclose)="close()"></app-editcheckbox> 
  
        </div>
    </div>
  </div>