<div class="modal-body">
    <p><b>Please fill the mandatory fields according your preference to design Navbar</b> </p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="pt-3">
            <label class="accessbility">Number of Menus</label><span class="star">*</span>
            <div class="form-group">
                <select class="bgcolor" name="menus" aria-label="select no of butons"
                    aria-describedby="noofbtn-err-text" formControlName="menus">
                    <!-- <option>--select menu--</option> -->
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <div *ngIf="submitted && f.menus.errors" class="invalid-feedback">
                    <div class="error" role="alert" id="noofbtn-err-text" *ngIf="f.menus.errors">Please select an option</div>
                </div>
            </div>
        </div>


        <div class="" *ngIf="f.menus.value == '1' || f.menus.value == '2' || f.menus.value == '3' || f.menus.value == '4'">
            <span class="border-squre">
                <div class="form-group">
                    <label>Menu 1 text:</label><span class="star">*</span>
                    <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                        placeholder="Please enter Menu text" name="text1" formControlName="text1"
                        [ngClass]="{ 'is-invalid': submitted && f.text1.errors }" autofocus />
                    <div *ngIf="submitted && f.text1.errors" class="invalid-feedback">
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text1.errors.required">Menu text 1 is
                            required</div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text1.errors.minlength">Minlength 3
                            required
                        </div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text1.errors.maxlength">maxlength 10
                        </div>
                    </div>
                </div>
                <div class="selectdropdownmenu"> 
                    <div class="d-md-flex d-block justify-content-between">
                        <div class="selcettab">
                            <label class="accessbility">Dropdown menu</label>
                            <span class="star">*</span>
                            <div class="form-group pt-1">
                                
                                <label class="image1" for="imagedrp"><input type="radio" id="imagedrp" name="imagedrp" value="Yes"
                                    formControlName="imagedrp"> <span>Yes</span></label>
                               
                                <label class="image1" for="1imagedrp"> <input type="radio" id="1imagedrp" name="imagedrp" value="No"
                                    formControlName="imagedrp"> <span>No</span></label>
                            </div>
                            <div *ngIf="submitted && f.imagedrp.errors" class="invalid-feedback">
                                <div class="error" role="alert" *ngIf="f.imagedrp.errors.required">Dropdown menu is required</div>
                            </div>
                        </div>
                        <div class="optionsnum" *ngIf="f.imagedrp.value == 'Yes'">
                            <label class="accessbility">Number of submenu</label><span class="star">*</span>
                            <div class="form-group">
                                <select class="bgcolor" name="optionsv" aria-label="select no of options"
                                    aria-describedby="noofbtn-err-text" formControlName="optionsv">
                                    <option>--select option--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <span  *ngIf="f.imagedrp.value == 'Yes'">
                    <div class="" *ngIf="f.optionsv.value == '1' || f.optionsv.value == '2' || f.optionsv.value == '3' || f.optionsv.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 1 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="firstsubmenu1"
                                [ngClass]="{ 'is-invalid': submitted && f.firstsubmenu1.errors }" autofocus />
                            <div *ngIf="submitted && f.firstsubmenu1.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu1.errors.required">Sub Menu
                                    text 1 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu1.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu1.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv.value == '2' || f.optionsv.value == '3' || f.optionsv.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 2 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="firstsubmenu2"
                                [ngClass]="{ 'is-invalid': submitted && f.firstsubmenu2.errors }" autofocus />
                            <div *ngIf="submitted && f.firstsubmenu2.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu2.errors.required">Sub Menu
                                    text 2 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu2.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu2.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv.value == '3' || f.optionsv.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 3 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="firstsubmenu3"
                                [ngClass]="{ 'is-invalid': submitted && f.firstsubmenu3.errors }" autofocus />
                            <div *ngIf="submitted && f.firstsubmenu3.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu3.errors.required">Sub Menu
                                    text 3 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu3.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu3.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 4 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="firstsubmenu4"
                                [ngClass]="{ 'is-invalid': submitted && f.firstsubmenu4.errors }" autofocus />
                            <div *ngIf="submitted && f.firstsubmenu4.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu4.errors.required">Sub Menu
                                    text 4 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu4.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.firstsubmenu4.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div> 
                </span>
                </div> 
            </span>
            
        </div>
        <div class="" *ngIf="f.menus.value == '2' || f.menus.value == '3' || f.menus.value == '4'">
            <span class="border-squre">
                <div class="form-group">
                    <label>Menu 2 text:</label><span class="star">*</span>
                    <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                        placeholder="Please enter Menu text" name="text2" formControlName="text2"
                        [ngClass]="{ 'is-invalid': submitted && f.text2.errors }" autofocus />
                    <div *ngIf="submitted && f.text2.errors" class="invalid-feedback">
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text2.errors.required">Menu text 2 is
                            required</div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text2.errors.minlength">Minlength 3
                            required
                        </div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text2.errors.maxlength">maxlength 10
                        </div>
                    </div>
                </div>
                <div class="selectdropdownmenu"> 
                    <div class="d-md-flex d-block justify-content-between">
                        <div class="selcettab">
                            <label class="accessbility">Dropdown menu</label>
                            <span class="star">*</span>
                            <div class="form-group pt-1">
                                
                                <label class="image1" for="imagedrp2"><input type="radio" id="imagedrp2" name="imagedrp2" value="Yes"
                                    formControlName="imagedrp2"> <span>Yes</span></label>
                               
                                <label class="image1" for="2imagedrp"> <input type="radio" id="2imagedrp" name="imagedrp2" value="No"
                                    formControlName="imagedrp2"> <span>No</span></label>
                            </div>
                            <div *ngIf="submitted && f.imagedrp2.errors" class="invalid-feedback">
                                <div class="error" role="alert" *ngIf="f.imagedrp2.errors.required">Dropdown menu is required</div>
                            </div>
                        </div>
                        <div class="optionsnum" *ngIf="f.imagedrp2.value == 'Yes'">
                            <label class="accessbility">Number of submenu</label><span class="star">*</span>
                            <div class="form-group">
                                <select class="bgcolor" name="optionsv2" aria-label="select no of options"
                                    aria-describedby="noofbtn-err-text" formControlName="optionsv2">
                                    <option>--select option--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="f.imagedrp2.value == 'Yes'">
                    <div class="" *ngIf="f.optionsv2.value == '1' || f.optionsv2.value == '2' || f.optionsv2.value == '3' || f.optionsv2.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 1 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="secondsubmenu1"
                                [ngClass]="{ 'is-invalid': submitted && f.secondsubmenu1.errors }" autofocus />
                            <div *ngIf="submitted && f.secondsubmenu1.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu1.errors.required">Sub Menu
                                    text 1 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu1.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu1.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv2.value == '2' || f.optionsv2.value == '3' || f.optionsv2.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 2 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="secondsubmenu2"
                                [ngClass]="{ 'is-invalid': submitted && f.secondsubmenu2.errors }" autofocus />
                            <div *ngIf="submitted && f.secondsubmenu2.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu2.errors.required">Sub Menu
                                    text 3 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu2.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu2.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv2.value == '3' || f.optionsv2.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 3 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="secondsubmenu3"
                                [ngClass]="{ 'is-invalid': submitted && f.secondsubmenu3.errors }" autofocus />
                            <div *ngIf="submitted && f.secondsubmenu3.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu3.errors.required">Sub Menu
                                    text 3 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu3.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu3.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv2.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 4 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="secondsubmenu4"
                                [ngClass]="{ 'is-invalid': submitted && f.secondsubmenu4.errors }" autofocus />
                            <div *ngIf="submitted && f.secondsubmenu4.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu4.errors.required">Sub Menu
                                    text 4 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu4.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.secondsubmenu4.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div> 
                </span>
                </div> 
            </span>
            
        </div>
        <div class="" *ngIf="f.menus.value == '3' || f.menus.value == '4'">
            <span class="border-squre">
                <div class="form-group">
                    <label>Menu 3 text:</label><span class="star">*</span>
                    <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                        placeholder="Please enter Menu text" name="text3" formControlName="text3"
                        [ngClass]="{ 'is-invalid': submitted && f.text3.errors }" autofocus />
                    <div *ngIf="submitted && f.text3.errors" class="invalid-feedback">
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text3.errors.required">Menu text 3 is
                            required</div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text3.errors.minlength">Minlength 3
                            required
                        </div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text3.errors.maxlength">maxlength 10
                        </div>
                    </div>
                </div>
                <div class="selectdropdownmenu"> 
                    <div class="d-md-flex d-block justify-content-between">
                        <div class="selcettab">
                            <label class="accessbility">Dropdown menu</label>
                            <span class="star">*</span>
                            <div class="form-group pt-1">
                                
                                <label class="image1" for="imagedrp3"><input type="radio" id="imagedrp3" name="imagedrp3" value="Yes"
                                    formControlName="imagedrp3"> <span>Yes</span></label>
                                
                                <label class="image1" for="3imagedrp"><input type="radio" id="3imagedrp" name="imagedrp3" value="No"
                                    formControlName="imagedrp3"> <span>No</span></label>
                            </div>
                            <div *ngIf="submitted && f.imagedrp3.errors" class="invalid-feedback">
                                <div class="error" role="alert" *ngIf="f.imagedrp3.errors.required">Dropdown menu is required</div>
                            </div>
                        </div>
                        <div class="optionsnum" *ngIf="f.imagedrp3.value == 'Yes'">
                            <label class="accessbility">Number of submenu</label><span class="star">*</span>
                            <div class="form-group">
                                <select class="bgcolor" name="optionsv3" aria-label="select no of options"
                                    aria-describedby="noofbtn-err-text" formControlName="optionsv3">
                                    <option>--select option--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <span  *ngIf="f.imagedrp3.value == 'Yes'">
                    <div class="" *ngIf="f.optionsv3.value == '1' || f.optionsv3.value == '2' || f.optionsv3.value == '3' || f.optionsv3.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 1 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="thirdsubmenu1"
                                [ngClass]="{ 'is-invalid': submitted && f.thirdsubmenu1.errors }" autofocus />
                            <div *ngIf="submitted && f.thirdsubmenu1.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu1.errors.required">Sub Menu
                                    text 1 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu1.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu1.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv3.value == '2' || f.optionsv3.value == '3' || f.optionsv3.value == '4'">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 2 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="thirdsubmenu2"
                                [ngClass]="{ 'is-invalid': submitted && f.thirdsubmenu2.errors }" autofocus />
                            <div *ngIf="submitted && f.thirdsubmenu2.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu2.errors.required">Sub Menu
                                    text 2 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu2.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu2.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv3.value == '3'  || f.optionsv3.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 3 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="thirdsubmenu3"
                                [ngClass]="{ 'is-invalid': submitted && f.thirdsubmenu3.errors }" autofocus />
                            <div *ngIf="submitted && f.thirdsubmenu3.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu3.errors.required">Sub Menu
                                    text 3 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu3.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu3.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv3.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 4 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="thirdsubmenu4"
                                [ngClass]="{ 'is-invalid': submitted && f.thirdsubmenu4.errors }" autofocus />
                            <div *ngIf="submitted && f.thirdsubmenu4.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu4.errors.required">Sub Menu
                                    text 4 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu4.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.thirdsubmenu4.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div> 
                </span>
                </div> 
            </span>
            
        </div>
        <div class="" *ngIf="f.menus.value == '4'">
            <span class="border-squre">
                <div class="form-group">
                    <label>Menu 4 text:</label><span class="star">*</span>
                    <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                        placeholder="Please enter Menu text" name="text4" formControlName="text4"
                        [ngClass]="{ 'is-invalid': submitted && f.text4.errors }" autofocus />
                    <div *ngIf="submitted && f.text4.errors" class="invalid-feedback">
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text4.errors.required">Menu text 4 is
                            required</div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text4.errors.minlength">Minlength 3
                            required
                        </div>
                        <div class="error" role="alert" id="btntext1" *ngIf="f.text4.errors.maxlength">maxlength 10
                        </div>
                    </div>
                </div>
                <div class="selectdropdownmenu"> 
                    <div class="d-md-flex d-block justify-content-between">
                        <div class="selcettab">
                            <label class="accessbility">Dropdown menu</label>
                            <span class="star">*</span>
                            <div class="form-group pt-1">
                                
                                <label class="image1" for="imagedrp4"><input type="radio" id="imagedrp4" name="imagedrp4" value="Yes"
                                    formControlName="imagedrp4"> <span>Yes</span></label>
                               
                                <label class="image1" for="4imagedrp"> <input type="radio" id="4imagedrp" name="imagedrp4" value="No"
                                    formControlName="imagedrp4"> <span>No</span></label>
                            </div>
                            <div *ngIf="submitted && f.imagedrp4.errors" class="invalid-feedback">
                                <div class="error" role="alert" *ngIf="f.imagedrp4.errors.required">Dropdown menu is required</div>
                            </div>
                        </div>
                        <div class="optionsnum" *ngIf="f.imagedrp4.value == 'Yes'">
                            <label class="accessbility">Number of submenu</label><span class="star">*</span>
                            <div class="form-group">
                                <select class="bgcolor" name="optionsv4" aria-label="select no of options"
                                    aria-describedby="noofbtn-err-text" formControlName="optionsv4">
                                    <option>--select option--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="f.imagedrp4.value == 'Yes'">
                    <div class="" *ngIf="f.optionsv4.value == '1' || f.optionsv4.value == '2' || f.optionsv4.value == '3' || f.optionsv4.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 1 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="forthsubmenu1"
                                [ngClass]="{ 'is-invalid': submitted && f.forthsubmenu1.errors }" autofocus />
                            <div *ngIf="submitted && f.forthsubmenu1.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu1.errors.required">Sub Menu
                                    text 1 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu1.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu1.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv4.value == '2' || f.optionsv4.value == '3' || f.optionsv4.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 2 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="forthsubmenu2"
                                [ngClass]="{ 'is-invalid': submitted && f.forthsubmenu2.errors }" autofocus />
                            <div *ngIf="submitted && f.forthsubmenu2.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu2.errors.required">Sub Menu
                                    text 2 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu2.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu2.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv4.value == '3' || f.optionsv4.value == '4'">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 3 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="forthsubmenu3"
                                [ngClass]="{ 'is-invalid': submitted && f.forthsubmenu3.errors }" autofocus />
                            <div *ngIf="submitted && f.forthsubmenu3.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu3.errors.required">Sub Menu
                                    text 3 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu3.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu3.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="f.optionsv4.value == '4' ">
                        <div class="form-group paddingleftspace">
                            <label>Sub Menu 4 text:</label><span class="star">*</span>
                            <input type="text" maxlength="10" class="form-control inputbox" aria-describedby="btntext1"
                                placeholder="Please enter Menu text" name="text1" formControlName="forthsubmenu4"
                                [ngClass]="{ 'is-invalid': submitted && f.forthsubmenu4.errors }" autofocus />
                            <div *ngIf="submitted && f.forthsubmenu4.errors" class="invalid-feedback">
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu4.errors.required">Sub Menu
                                    text 4 is
                                    required</div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu4.errors.minlength">Minlength
                                    3 required
                                </div>
                                <div class="error" role="alert" id="btntext1" *ngIf="f.forthsubmenu4.errors.maxlength">maxlength
                                    10</div>
                            </div>
                        </div>
                    </div> 
                </span>
                </div> 
            </span>
            
        </div>
         

        <div class="pt-3">
            <label class="accessbility">Would you like to add FAQ option</label><span
                class="star">*</span>
            <div class="form-group">
                
                <label class="image1" > <input type="radio"  name="faqicon" value="Yes" formControlName="faqicon"> <span>Yes</span></label>
                
                <label class="image1"><input type="radio"  name="faqicon" value="No" formControlName="faqicon"> <span>No</span></label>

                <div *ngIf="submitted && f.faqicon.errors" class="invalid-feedback">
                    <div class="error" role="alert" *ngIf="f.faqicon.errors.required">FAQ is required</div>
                </div>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Would you like to add File option</label><span
                class="star">*</span>
            <div class="form-group">
                
                <label class="image1" ><input type="radio"  name="fileicon" value="Yes" formControlName="fileicon"> <span>Yes</span></label>
                
                <label class="image1"><input type="radio"  name="fileicon" value="No" formControlName="fileicon"> <span>No</span></label>

                <div *ngIf="submitted && f.fileicon.errors" class="invalid-feedback">
                    <div class="error" role="alert" *ngIf="f.fileicon.errors.required">File is required</div>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <label class="accessbility">Would you like to add Logout option</label><span
                class="star">*</span>
            <div class="form-group">
                
                <label class="image1"><input type="radio" name="outicon" value="Yes" formControlName="outicon"> <span>Yes</span></label>
                
                <label class="image1" ><input type="radio"  name="outicon" value="No" formControlName="outicon"> <span>No</span></label>

                <div *ngIf="submitted && f.outicon.errors" class="invalid-feedback">
                    <div class="error" role="alert" *ngIf="f.outicon.errors.required">Logout is required</div>
                </div>
            </div>
        </div>
 
        <div class="pt-3">
            <label class="accessbility">Please select Theme Color</label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="color" formControlName="color">
                    <option>dark</option>
                    <option>blue</option>
                    <option>purple</option>
                    <option>light</option>
                </select>
            </div>
        </div>

        <div class="footerbutton">
            <button class="submitbutton">
                Create
            </button>
        </div>


    </form>

</div>