<div class="main">
  <div class="container-liquid">
    <div class="top-header">
      <div class="insideheader">
        <h4 class="subheader">Button <span class="btncmp">Component</span></h4>
      </div>
      <div class="button-sec">
        <button class="backbutton" (click)="backwindow()">Back</button>
        <button class="backbutton" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
      </div> 
    </div>
    <div #buttons>
     <div class="text-center main-page mt-5">
      <button aria-label="buttondesign?.buttondesign.textvalue" data-bs-toggle="modal" data-bs-target="#exampleModal"
      [ngStyle]="{'font-size':buttondesign?.buttondesign.fontsize + 'px','background':buttondesign?.bgcolor,'color':buttondesign?.color, 'width':buttondesign?.btnwitdth, 'border-radius':buttondesign?.buttondesign.borderradius + 'px', 'border-width':buttondesign?.buttondesign.borderwidth + 'px', 'padding':buttondesign?.btnpadding,'box-shadow':buttondesign?.boxshadow}"
      class="btncomp"
      >{{buttondesign?.buttondesign.textvalue}}</button>
      
     </div>
    </div>
  </div>
  <ul class="list-inline">
    <li (click)="openhtml()"><button [class]="htmlcontent">HTML</button></li>
    <li (click)="opencss()"><button [class]="csscontent">CSS</button></li>
  </ul>
  <div class="htmlelement" *ngIf="htmlcontent == 'active'">
    <div class="copybutton">
      <button ngxClipboard [cbContent]="getHtmlContent()" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
    </div>
    <pre><code [highlight]="getHtmlContent()">{{getHtmlContent()}}</code></pre>
  </div>
  <div class="htmlelement" *ngIf="csscontent == 'active'">
    <div class="copybutton">
      <button ngxClipboard [cbContent]="CSS" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
    </div>
    <pre><code [highlight]="CSS">{{CSS}}</code></pre>
  </div>
</div>





<div class=" formbutton modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modaldialog-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Button</h4>
               <button class="closediv"  #myModalClose2 data-bs-dismiss="modal"><img [src]="closeicon" class="closeicon"> </button>  
          </div>
          <app-editbutton  (onclose)="close()"></app-editbutton>

      </div>
  </div>
</div>
