.progress {
    width: 75%;
    height: 29px;
    margin: auto;
}
.progress-bar {
    font-size: 15px;
}
.progresstitle {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    li:first-child{
        margin-right: 10px;
    }
    li{
        cursor: pointer;
        button{
            border: none;
            background: transparent;
            padding: 0px;
        }
    }
}
.htmlelement{
    background-color: var(--color-white);;
    overflow-y: scroll;
    width:90%;
    max-height:350px;
    margin: auto;
    margin-top: 30px;
    padding-top: 30px;
}
.copybutton{
    text-align: end;
        margin-right: 40px;
        button{
            border: 1.5px solid black;
            background: transparent;
            border-radius: 10px;
            padding: 5px 10px;
        }
        .copyicon{
            margin-right: 5px;
        }
}

.active{
    border-bottom: 1px solid black !important;
    padding-bottom: 5px !important;
}

.modal-dialog{
    margin-top:90px;
}

@media only screen and (max-width: 767px) {
    .width100{
        width: 100% !important;
    }
    .progress {
        width: 100% !important;
    }
    .top-header div:first-child {
        width: 50%;
    }
    h4.subheader {
        margin: 0px;
        font-size: 1.2rem;
    }
    section.main header {
        padding: 1rem .85rem;
    }
    .modaldialog-width { 
        max-width: 100% !important;
    }
}
